body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: red;
    height: 750px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    background-color: white;
    height: 550px;
    width: 800px;
}