body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: red;
    height: 1000px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    background-color: black;
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    background-color: blanchedalmond;
    display: flex;
}

.grids {
    background-color: black;
    display: flex;
}